.card {
    align-items: center;
    background-color: var(--bg-color-level-1);
    border-left: 1px solid var(--bg-color-level-3);
    border-bottom: 1px solid var(--bg-color-level-3);
    box-sizing: border-box;
    display: flex;
    height: var(--card-height);
    justify-content: center;
    text-align: center;
    width: var(--card-width);
}

.card .char {
    font-size: var(--card-font-size);
}