header {
    background-color: var(--heading-bg-color);
    overflow: auto;
    padding: 0.5em 0;
}
.header {
    text-align: center;
}
.header h1 {
    color: var(--heading-color);
    font-size: 2em;
    margin: 0;
}