html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    height: 100%;
}

:root {
    --heading-color: #fff;
    --heading-bg-color: #e63946;
    --bg-color-level-1: #f1faee;
    --bg-color-level-2: #a8dadc;
    --bg-color-level-3: #457b9d;
    --bg-color-level-4: #1d3557;

    --card-height: 25%;
    --card-font-size: 6vh;
    --card-width: 10%;
}

/* ----------- Global Classes ----------- */
.cursive {
    font-family: 'Pacifico', cursive;
}
.punjabi {
    font-family: 'Mukta Mahee', sans-serif;
}
/* ----------- Global Classes ----------- */


/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
        :root {
            --card-font-size: 6vh;
            --card-width: 20%;
            --card-height: 12.5%;
        }
}

/* Portrait */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
        :root {
            --card-font-size: 5vw;
            --card-width: 10%;
            --card-height: 25%;
        }
}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: portrait) {

}

/* Landscape */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 4) 
    and (orientation: portrait) {

}

/* Landscape */
@media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 4) 
    and (orientation: landscape) {

}